spring:
  thymeleaf:
    cache: false
  main:
    show-banner: false

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    initialize: true
    initialization-mode: always
    schema: classpath:/schema.sql

  jpa:
    hibernate:
      ddl-auto: none
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect