spring:
  thymeleaf:
    cache: false
  main:
    show-banner: false

  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate.hbm2ddl.import_files: populate_users.sql